<section class="page">
  <gridster [options]="options">
    <gridster-item class="gridster-item" [item]="item" *ngFor="let item of dashboard">
      <mat-card class="card mat-4">
        <mat-card-header>
          <mat-card-title class="title">{{item.title}}</mat-card-title>
          <mat-card-actions class="technology">
            <button mat-raised-button color="accent" (click)="launchPage(item.url)">
              <mat-label>Visit</mat-label>
            </button>
          </mat-card-actions>    
        </mat-card-header>
        <mat-card-content>
          <p class="description">{{ item.description }}</p>
        </mat-card-content>
        <div class="love-icons">
          <span *ngFor="let image of loveIcons">
            <img src="{{image}}" />
          </span>
        </div>
        <app-footer [projectLove]="projectLove"></app-footer>
      </mat-card>
    </gridster-item>
  </gridster>
</section>
<app-footer class="footer" [projectLove]="pageLove"></app-footer>