<mat-action-row color="primary" class="top-banner">
    <mat-toolbar-row>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="icon-button with a menu">
            <mat-icon class="vertical-more">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="nav-menu" style="z-index: 2;">
            <button (click)="navigation.navigateDesign('design-dashboard')" mat-menu-item>
                <mat-icon>art_track</mat-icon>
                <span>Design</span>
            </button>
            <button (click)="navigation.navigateDesign('development-dashboard')" mat-menu-item>
                <mat-icon>whatshot</mat-icon>
                <span>Development</span>
            </button>
            <button mat-menu-item (click)="navigation.navigateDesign('samples/sample-table')">
                <mat-icon>table_chart</mat-icon>
                <span>Material Design Table</span>
            </button>
            <button mat-menu-item (click)="navigation.navigateDesign('samples/space-video')">
                <mat-icon>table_chart</mat-icon>
                <span>Space Video</span>
            </button>
            <button mat-menu-item (click)="navigation.navigateDesign('architecture-dashboard')">
                <mat-icon>transfer_within_a_station</mat-icon>
                <span>Architecture</span>
            </button>
        </mat-menu>

        <div class="user">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">
                person_outline</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-action-row>