.top-banner {
  display: flex;
  flex-direction: row;
  opacity: 0.1em;
  padding: 0.5em;
  height: 2.6em;
  z-index: 5;
  background-color: black;

  .mat-toolbar-row {
    display: flex;
    flex-direction: row;
    button {
      z-index: 5;
    }

    .mat-icon {
      font-size: 2.5em;
      font-weight: 100;
      color: orange;
    }
    
    .vertical-more {
      margin: 0 0 0 0;
      color: orange;
    }    
  }
}

.user {
  height: 2.8em;
  width: 2.8em;
  position: absolute;
  right: 1.25em;
  top: 0.9em;

  &:hover {
    border: 1px solid blue;
    border-radius: 1.5em;
  }
  .mat-icon {
    margin: 0 0 0 0.1em;
  }
}

/* Style the list */
ul {
  padding: 10px 16px;
  list-style: none;
  background-color: black;
  display: flex;
  flex-direction: row;
}

/* Display list items side by side */
ul.breadcrumb li {
  font-size: 1.25em;
  max-width: 15em;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  cursor: pointer;
}


ul.breadcrumb li {
  color: orange;
  text-decoration: none;
  z-index: 5;
  margin-top: -0.5em;
}

/* Add a color on mouse-over */
ul.breadcrumb li:hover {
  color: orangered;
  text-decoration: underline;
}