<div class="footer-row">
    <span *ngFor="let button of projectLove">
        <span class="social-buttons-container" >
            <button [disabled]="button.disabled" class="button-container"  ngClass="{{button.icon}}" #button (click)="routeExternal(button, $event)">
                <mat-icon>{{button.icon}}</mat-icon>
                <p class="button-name">{{button.name}}</p>
            </button>
        </span>
    </span>
    <div class="development-statistics" (click)="displayDevelopmentPopup()">
        <mat-icon class="development-tag" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">loyalty</mat-icon>
        <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
            <div class="overlay">
                <p>Angular Version: {{this.angularVersion}}</p>
                <p>version: {{this.version}}</p>
            </div>
        </ng-template>
    </div>
</div>