.footer-row {
  width: inherit;
  height: 1.75em;
  padding: 0.5em 1em;
  background-color: black;
  color: orange;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 0.5em;

  .social-buttons-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 2em;

    .button-container {
      display: flex;
      width: 10em;
      flex-direction: row;
      align-content: flex-start;
      justify-content: space-evenly;
      align-items: center;

      .iconify {
        width: 1em;
        height: 1em;
        border: 1px solid pink;
      }

      .button-name {
        margin-left: 1em;
      }
    }
  }

  .development-statistics {
    .development-tag {
      position: absolute;
      right: 0.25em;
      margin: 0 0.25em 0 0;
      color: orange;
    }
  }
}

