.footer-row {
  height: 1.75em;
  color: orange;
  display: flex;
  flex-direction: row;

  .social-buttons-container {
    display: flex;
    flex-direction: row;
    height: 2em;

    .button-container {
      display: flex;
      flex-direction: row;
      bottom: 5em;
      margin-right: 1em;

      .iconify {
        width: 2em;
        height: 2em;
      }

      .button-name {
        font-size: 1em;
        margin-top: 0.1em;
        margin-right: 1em;
        margin-left: 0.1em;
      }
    }
  }

  .development-statistics {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      position: relative;
      left: 37%;
  }
}
