.footer-row {
  height: 1.75em;
  background-color: black;
  color: orange;
  margin-left: 2em;
  display: flex;
  flex-direction: row;
  width: 40vw;

  .social-buttons-container {
    display: flex;
    flex-direction: row;
    height: 2em;

    .button-container {
      display: flex;
      flex-direction: row;
      bottom: 5em;
      margin-right: 1em;

      .iconify {
        width: 2em;
        height: 2em;
      }

      .mat-icon {
        display: flex;
        flex-direction: row;
        justify-content: right;
      }

      .button-name {
        font-size: 1.5em;
        margin-top: 0.1em;
        margin-right: 1em;
        margin-left: 0.1em;
      }
    }
  }

  .development-statistics {
    .development-tag {
      position: absolute;
      right: 0.25em;
      margin: 0 0.25em 0 0;
      color: orange;
    }
  }
}
