<h1>Purchases Page</h1>
<div class="row" class="repeat-animation">
	<div ng-repeat="busService in busServices">
		<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
			<div id="item-wraper" class="well card-element">
				<input type="checkbox" id="product-input-{{busService.key}}" ng-click="updateTotals(busService.key)" ng-checked=busService.selected>
				<img src="img/services.png">
				<div class="information-block">
					<a ng-href="/#/services/:{{busService.key}}">
						<p>{{ busService.name }}</p>
					</a>
					<p>{{ busService.price.toFixed(2) | currency:"$" }}</p>
				</div> <!-- ends divtext block -->
			</div> <!-- ends well -->
		</div> <!-- ends column -->
	</div> <!-- ends ng-repeat -->
</div> <!-- end product row -->
<div class="totals-row">
	<div class="row" >
		<div class="col-lg-6">
			<p>Total: <span ng-init="updateTotalsOnLoad()"></span>{{ productTotal.toFixed(2) | currency:"$" }}</p>
		</div>
		<div class="col-lg-6">
			<a href="#/confirm"><button class="confirm-button">Confirm Purchase</button></a>
		</div>
	</div> <!-- ends row class -->
</div> <!-- end clas totals row -->