:host ::ng-deep .background-flag {
  width: calc(100vw + 2em);
  min-height: 95vh;
  background-image: url("../../assets/video/usa-american-flag-waving-animated-gif-12.gif");
  background-size: cover;
  position: absolute;
  top: -1em;
  right: 1em;
  opacity: 0.15;
  z-index: 1;
  overflow: hidden;
  background-color: black;
}

.landing-page {
  height: 44em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  z-index: 5 !important;

  .army-logo {
    width: 7.5em;
    height: 5em;
    position: fixed;
    right: -1em;;
    bottom: 3em;
  }

  .clickable {
    cursor: pointer;
    z-index: 2 !important;
  }
}

@media only screen and (min-width: 768px) {
  .brand-heading {
    width: 100%;
    font-size: 10em;
    margin: 1em 20%;
    color: orange;
    line-height: .75em;
  }

  .intro-text {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      font-size: 2em;
      justify-content: center;
      color: orange;
      margin: 0 1em;
    }

    .star {
      margin-top: -0.1em;
      color: orangered;
    }
  }
}

@media only screen and (max-width: 768px) {
  .landing-page {
    width: 100vw;
  }

  .brand-heading {
    color: blue;
    width: 6em;
    line-height: 0.8em;
    margin: 1em 0.5em;
    height: 2em;
    font-size: 6em;
  }

  .intro-text {
    z-index: 5;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    p {
      color: purple;
      font-size: 1em;
    }

    .star {
      color: magenta
      ;
    }
  }
}
