:host ::ng-deep .background-flag {
  width: 100%;
  min-height: 100%;
  background-image: url("../../assets/video/usa-american-flag-waving-animated-gif-12.gif");
  background-size: cover;
  position: absolute;
  top: -1em;
  right: 0.25em;;
  opacity: 0.2;
  z-index: 1;
  background-color: black;
}

.landing-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 44em;
  align-content: center;
  justify-content: flex-start;
  z-index: 5 !important;

  .intro-text {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      font-size: 2em;
      justify-content: center;
      color: orange;
      margin: 0 1em;
    }

    .star {
      margin-top: -0.1em;
      color: orangered;
    }
  }

  .army-logo {
    width: 10em;
    height: 7.5em;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  .clickable {
    cursor: pointer;
    z-index: 2 !important;
  }
}

@media only screen and (min-width: 768px) {
  .brand-heading {
    font-size: 10em;
    margin: 1em auto;
    color: orange;
  }

  .intro-text {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      font-size: 2em;
      justify-content: center;
      color: orange;
      margin: 0 1em;
    }

    .star {
      margin-top: -0.1em;
      color: orangered;
    }
  }
}

@media only screen and (max-width: 768px) {
  .brand-heading {
    color: orange;
    width: 6em;
    line-height: 0.8em;
    margin: 1em 0.25em 0;
    height: 2em;
    font-size: 6em;
  }

  .background-flag {
    top: -5em;
  }

  .intro-text {
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
      font-size: 0.5em;
      color: purple;
    }

    .star {
      color: magenta
      ;
    }
  }
}
