.page {
  min-height: 100%;
  color: darkmagenta;
  overflow: hidden;
  background-color: #ecb602;

  .filter {
    display: flex; flex-direction: row; justify-content: right;
  }

  .mat-table {
    background-color: #ecb602;
  }

  .pagination {
    margin-bottom: 20em;
  }
}

:host ::ng-deep .mat-paginator-container {
  background-color: #ecb602 !important;
}
