//sidebar
mat-sidenav-container {
  border-radius: 1em;
  background: rgba(0, 0, 0, 0);

  mat-sidenav-content {
    background: rgba(0, 0, 0, 0);
    padding: 1em;
    text-align: left;

    &[class*="white"] {
      background-color: white;
    }
    .toggle-sidebar {
      font-size: 1em;

      .arrow {
        color: fuchsia;
        font-size: 2em;
        text-align: left;
      }

      .navigation {
        color: fuchsia;
        font-size: 1em;
        margin-top: -2em;
        margin-left: 2em;
        text-align: left;
      }
    }

    .content {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      font-size: 2em;

      button {
        width: 4em;
        margin: 0.5em 0;
        color: fuchsia;
        font-family: "Roboto", sans-serif;
        background: rgba(0, 0, 0, 0);
        border: none;
        display: flex;
        align-content: center;

        p {
          margin: 0.25em 0 0 0.25em;
          font-size: 1em;
        }

        .mat-icon {
          color: fuchsia;
        }
      }
    }
  }
}
