<mat-sidenav-container>
    <span #breadcrumbs></span>
    <mat-sidenav-content #sidebar [ngClass]="color">
        <div class="toggle-sidebar">
            <mat-icon class="arrow">{{sidebarDirection}}</mat-icon>
        </div>

        <div class="content mat-elevation-z8">
            <button class="sub-menu" mat-menu-item (click)="launchPage('landing')" aria-label="icon-button with a menu"
                mat-elevation-z4>
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button class="sub-menu" mat-menu-item (click)="launchPage('design-dashboard')">
                <mat-icon>art_track</mat-icon>
                <span>Design</span>
            </button>
            <button class="sub-menu" mat-menu-item (click)="launchPage('samples/sample-table')">
                <mat-icon>table_chart</mat-icon>
                <span>Material Design Table</span>
            </button>
            <button class="sub-menu" mat-menu-item (click)="launchPage('samples/space-video')">
                <mat-icon>rocket</mat-icon>
                <span>Space Video</span>
            </button>
            <button (click)="launchPage('development-dashboard')" mat-menu-item>
                <mat-icon>whatshot</mat-icon>
                <span>Development</span>
            </button>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>