:host ::ng-deep .mat-slide-toggle {
  transform: scale(0.6);

  .mat-slide-toggle-thumb {
    background-color: orange;
  }

  .mat-slide-toggle-bar {
    background-color: goldenrod;
  }

  &.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: fuchsia;
  }

  &.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: purple;
  }
}

mat-sidenav-container {
  border-radius: 1em;
  background: rgba(0, 0, 0, 0);

  mat-sidenav-content {
    background: rgba(0, 0, 0, 0);
    padding: 1em;
    margin-top: 3em;
    text-align: left;

    .toggle-sidebar {
      margin-left: 0.25em;
    }

    .content {
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: left;
      font-size: 2em;

      button {
        width: 4em;
        margin: 0.5em 0;
        color: fuchsia;
        font-family: "Roboto", sans-serif;
        background: rgba(0, 0, 0, 0);
        border: none;
        display: flex;
        align-content: center;

        p {
          margin: 0 0 0 0.25em;
          font-size: 1.25em;
        }

        .mat-icon {
          color: fuchsia;
          font-size: 1.5em;
        }
      }
    }
  }
}
