 <mat-action-row color="primary" class="top-banner">
    <div>
        <button mat-raised-button class = "gap">File</button>
        <button mat-raised-button >Edit</button>
        <button mat-raised-button (click)="resolveUsers()">
            <mat-icon>
                <span class="iconify" data-icon="mdi:material"></span>
            </mat-icon>
            Sample Table
        </button>
    </div>
    <span class = "filler"></span>
    <button mat-raised-button >About</button>
 </mat-action-row>