.top-banner {
  display: flex;
  flex-direction: row;
  background-color: #55185d;
  opacity: 0.1em;
  padding: 0.5em;
  height: 2.6em;
}

.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.user {
  height: 2.8em;
  width: 2.8em;
  position: absolute;
  right: 1.25em;
  top: 0.9em;
  border: 1px solid blue;
  border-radius: 1.5em;
}

.mat-icon {
  font-size: 3em;
  margin: -0.075em 0 0 -0.025em;
}

.vertical-more {
  color: yellow;
  margin: -0.075em 0 0 0;
}
