.top-banner
{
  display: flex;
  flex-direction: row;
  background-color: #55185D;
  opacity: 0.1em;
  padding: 0.5em;
  height: 2.6em;

  .mat-raised-button
  {
    background-color: #ECB602;
    color: black;

    .mat-button-wrapper{
      height: 1em;
    }
  }
}

.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}
