.top-banner
{
  display: flex;
  flex-direction: row;
  background-color: #55185D;
  opacity: 0.1em;
  padding: 0.5em;
  height: 2.6em;
}

.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.mat-icon {
  font-size: 3em;
  margin: 0 0.25em;
}