<mat-grid-list cols="1" rowHeight="4:1" style="margin: 1em auto;width: 75%;height: 6em;">
  <mat-grid-tile style="background-color: pink; opacity: .7;">
    <mat-grid-tile-header style="background-color: lightred;color:black;opacity:1;font-size: 1.5em;">
      <span style="margin: 0 auto;">Featured Sites</span>
    </mat-grid-tile-header>

    <mat-grid-list cols="3" rowHeight="4:1">
        <p style="margin-top: 2em;opacity:1;font-size: 1.2em;">Here are design projects and samples in HTML5, CSS3 and some Bootstrap examples.</p>
      <mat-grid-tile>
        <mat-icon>home</mat-icon>
        <br>
        <p>Imagine Create Thrive</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>home</mat-icon>
        <br>
        <p>Gracious Girls</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>home</mat-icon>
        <br>
        <p>BS Native Girl</p>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-tile-footer  style="background-color: lightRed;color:black;opacity: 1;">Footer</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="2" rowHeight="12em;" style="margin: -13em 1em 0 1em;padding:0 1em;height:16em;">
  <mat-grid-tile width="90%" color="primary" style="background-color: pink; opacity: .7;margin: 2em 2em 0 0;height: 16em;">
    <mat-grid-tile-header>Design Samples</mat-grid-tile-header>
    <p style="margin-top: 2em;">Here are design projects and samples in HTML5, CSS3 and some Bootstrap examples.</p>
    <mat-grid-list cols="3" rowHeight="4:1">

    </mat-grid-list>
    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
  </mat-grid-tile>

  <mat-grid-tile color="primary" style="background-color: pink; opacity: .7;margin: 2em auto;width: 30%;height: 12em;">
    <mat-grid-tile-header>Development Samples</mat-grid-tile-header>
    <p style="margin-top: 2em;">Here are design projects and samples in HTML5, CSS3 and some Bootstrap examples.</p>
    <mat-grid-list cols="3" rowHeight="4:1">
        <p style="margin-top: 2em;">Here are design projects and samples in HTML5, CSS3 and some Bootstrap examples.</p>
      <mat-grid-tile>
        <mat-icon>home</mat-icon>
        <br>
        <p>Imagine Create Thrive</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>home</mat-icon>
        <br>
        <p>Gracious Girls</p>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-icon>home</mat-icon>
        <br>
        <p>BS Native Girl</p>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
  </mat-grid-tile>
</mat-grid-list>
