.projects {
  display: relative;
  background-color: rgba(153, 255, 153, 0.3);
  opacity: 1;
  margin: 1em 0 2em;
  border-radius: 5px;
  width: 40% !important;
}

.style-exp-panel {
  margin: 0.5em auto 0.5em;
  border-radius: 5px;
  border: 1px solid purple;
  color: purple;
}

.top-projects {
  opacity: 1;
  width: 95%;
  margin: 2em auto 1em;
  border-radius: 5px;
}

.featured {
  border: 1px solid;
  background-color: rgba(blue, .3)
}

.design {
  border: 1px solid rgba(153, 255, 153, 0.3);
  background-color: rgba(red, .3)
}

.development {
  border: 1px solid rgba(153, 255, 153, 0.3);
  background-color: rgba(green, .3)
}

.mat-expanded {
  height: 19em;
  background-color: rgba(153, 255, 153, 0.3);
}
.mat-menu-panel {
  margin-right: 3em;
  background-color: yellow;
}
.mat-menu-content {
  margin: 1em 3em;
  border: 2px solid red;
}

button {
  background-color: lime;
  float: left;
  height: 5em;
  width: 5em;
  font-size: 1.2em;
  margin-right: 1em;
  margin-bottom: .5em;
  border-radius: 50%;
}

button mat-icon {
  position: absolute;
  top: 0.15em;
  left: 35%;
}

button p {
  position: absolute;
  font-style: normal;
  position: relative;
  text-align: center;
  white-space: normal;
  font-size: 0.8em;
  line-height: 1.1;
  margin-top: 1em;
}
button a {
  position: absolute;
  bottom: -0.25em;
  left: 41%;
}
button i {
  margin-top: .25em;
  margin-bottom: .5em;
}
button i:hover {
  border: 1px solid lime;
}

@media screen and (min-width: 480px) {
  .projects {
    width: 100%;
    margin: 1em 1em 1em 0;
    border-radius: 5px;
  }

  .mat-expansion-panel-header {
    background-color: rgba(153, 255, 153, .5);
    /* width: 80%; */
    margin-right: .5em;
    margin-left: 0.5em;
  }

  .mat-expanded {
    background-color: rgba(153, 255, 153, 0.3);
    margin-left: 0.5em;
  }

  .top-projects {
    margin-top: 3em;
  }

  .featured {
    margin: 0 auto 2em;
    width: 40%;
  }
  .design {
    float: left;
    width: 40%;
    margin-left: 3em;
  }
  .development {
    float: right;
    width: 40%;
    margin-right: 3em;
  }
}
