.projects {
  display: relative;
  background-color: rgba(153, 255, 153, 0.3);
  opacity: 1;
  margin: 1em 0 2em;
  border-radius: 5px;
  width: 40% !important;
}

.style-exp-panel {
  margin: 0.5em auto 0.5em;
  border-radius: 5px;
  color: purple;
}

.top-projects {
  opacity: 1;
  width: 95%;
  margin: 2em auto 1em;
  border-radius: 5px;
}

.featured {
  width: 90% !important;
  margin: 0 auto;
}

.design {
  width: 90% !important;
  margin: 1em auto 1em;
}

.development {
  width: 90% !important;
  margin: 0 auto;
}

.mat-expanded {
  height: 19em;
  background-color: rgba(153, 255, 153, 0.3);
}
.mat-menu-panel {
  margin-right: 3em;
}
.mat-menu-content {
  margin: 1em 3em;
}

button {
  background-color: lime;
  float: left;
  height: 5em;
  width: 5em;
  margin: 0.5em 1em 0.5em 0;
  border-radius: 50%;
}

.mat-elevation-z5 {
  position: relative;
  z-index: 2;
}

button mat-icon {
  position: absolute;
  top: 0.15em;
  left: 35%;
}

button p {
  position: absolute;
  font-style: normal;
  position: relative;
  text-align: center;
  white-space: normal;
  font-size: 0.75em;
  line-height: 1;
  margin-top: 2em;
}
button a {
  position: absolute;
  bottom: -.75em;
  left: 41%;
}

button:hover {
  border: 1px solid darkgreen;
}

@media screen and (min-width: 700px) {
  .projects {
    width: 100%;
    margin: 1em 1em 1em 0;
    border-radius: 5px;
  }

  .mat-expansion-panel-header {
    background-color: rgba(153, 255, 153, 0.5);
    margin-right: 0.5em;
    margin-left: 0.5em;
  }

  .mat-expanded {
    background-color: rgba(153, 255, 153, 0.3);
    margin-left: 0.5em;
  }

  .top-projects {
    margin-top: 3em;
  }

  .featured {
    width: 75% !important;
    margin: 0 auto 2em;
  }
  .design {
    float: left;
    width: 45% !important;
    margin-left: 1em;
  }
  .development {
    float: right;
    width: 45% !important;
    margin-right: 1em;
  }
}
