<mat-expansion-panel class="block projects featured">
  <div class="" *ngFor="let project of projects.featured |  slice:3:12; let i=index">
    <a (click)="goToExternalUrl(project.url)">
    <button mat-button>
    <mat-icon>home</mat-icon>
    <p>{{ project.title }}</p>
    <a (click)="goToExternalUrl(project.git)" href="{{ project.git }}">
      <i class="zmdi zmdi-github"></i>
    </a>
    </button>
    </a>
  </div>
  <mat-expansion-panel-header  class="top-projects">
    <div class="" *ngFor="let project of projects.featured |  slice:0:3; let i=index">
      <a (click)="goToExternalUrl(project.url)">
        <button mat-button  style="z-index: 5;">
          <mat-icon>home</mat-icon>
          <p>{{ project.title }}</p>
          <a (click)="goToExternalUrl(project.git)" href="{{ project.git }}">
            <i class="zmdi zmdi-github"></i>
          </a>
              </button>
      </a>
    </div>
  </mat-expansion-panel-header>
</mat-expansion-panel>

<div>
  <mat-expansion-panel class="block projects design">
    <div class="" *ngFor="let project of projects.design |  slice:3:12; let i=index">
      <a (click)="goToExternalUrl(project.url)">
        <button mat-button>
          <mat-icon>home</mat-icon>
          <p>{{ project.title }}</p>
          <a (click)="goToExternalUrl(project.git)" href="{{ project.git }}">
            <i class="zmdi zmdi-github"></i>
          </a>
        </button>
      </a>
    </div>
    <mat-expansion-panel-header class="top-projects">
      <div class="" *ngFor="let project of projects.design |  slice:0:3; let i=index">
        <a (click)="goToExternalUrl(project.url)">
        <button mat-button  style="z-index: 5;">
          <mat-icon>home</mat-icon>
          <p>{{ project.title }}</p>
          <a (click)="goToExternalUrl(project.git)" href="{{ project.git }}">
            <i class="zmdi zmdi-github"></i>
          </a>
        </button>
        </a>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>

  <mat-expansion-panel  class="block projects development">
    <div class="" *ngFor="let project of projects.development |  slice:3:12; let i=index">
      <a (click)="goToExternalUrl(project.url)">
        <button mat-button>
          <mat-icon>home</mat-icon>
          <p>{{ project.title }}</p>
          <a (click)="goToExternalUrl(project.git)" href="{{ project.git }}">
            <i style="position: absolute; bottom: 1em;" class="zmdi zmdi-github"></i>
          </a>
        </button>
      </a>
    </div>
    <mat-expansion-panel-header class="top-projects">
      <div class="top" *ngFor="let project of projects.development |  slice:0:3; let i=index">
        <a (click)="goToExternalUrl(project.url)">
          <button mat-button  style="z-index: 5;">
            <mat-icon>home</mat-icon>
            <p>{{ project.title }}</p>
            <a (click)="goToExternalUrl(project.git)" href="{{ project.git }}">
              <i class="zmdi zmdi-github"></i>
            </a>
          </button>
        </a>
      </div>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div>
