.background-video {
  position: fixed;
  bottom: 17em;
  right: 9em;
  height: 100%;
  width: 100%;
  z-index: 1;
  transform: scale(2.25);
  overflow: hidden !important;
  opacity: 0.9;
}

.background-audio {
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 10;
  color: white;
}

@media all and (max-width: 800px) {
  .background-video {
    position: absolute;
    top: -21em;
    left: -16em;
    height: 123vh;
    width: 177vw;
    z-index: 1;
    transform: scale(1);
    overflow: hidden !important;
    opacity: 0.9;
  }
}

@media all and (min-width: 1200px) {
  .background-video {
    position: absolute;
    top: 0em;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    transform: scale(3);
    overflow: hidden !important;
    opacity: 0.8;
  }
}
