.spinner {
  margin: 15em auto;
}

.page {
  color: blue;
  background: white;
  height: calc(86vh);

  h2 {
    display: relative;
    margin-left: 1em;
    font-size: 2em;
  }

  .notice {
    margin-left: 2em;
    font-size: 1.1em;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-height: 2em;
    margin-right: 1em;
    font-size: 1.25em;

    mat-form-field {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1em;
      color: orange;
      width: 15em;
    }
  }

  .mat-table {
    width: 95%;
    margin: 2em auto 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .mat-header-cell {
      font-size: 1.2em;
      color: darkblue;
    }

    .mat-cell {
      font-size: 1em;
      color: blue;
    }
  }
}

:host ::ng-deep .mat-table {
  overflow-y: auto;
  max-height: 22em;
}

:host ::ng-deep mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: 0.5em !important;
  margin-left: 2.6em;
  margin-top: 2em;;
  width: 95.3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .paginator {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

:host ::ng-deep .mat-paginator-container {
  background-color: orange;
  font-size: 1.5em;
  color: purple;
}

:host ::ng-deep .mat-select-value {
  font-size: 1.5em;
  text-align: center;
  color: orange;
  background-color: black;
  border-radius: .5em;
  margin-top: .5em;
}
