:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
  color: blue;
}

:host ::ng-deep mat-sidenav-container .mat-sidenav-content {
  background-color: white;
}

.spinner {
  margin: 15em auto;
}

.page {
  color: blue;
  background: white;
  height: calc(86vh);
  margin: 1em auto 0 8em;

  &.sidebar-closed {
    margin: 1em auto 0 1em;
  }

  h2 {
    display: relative;
    margin-left: 3em;
    font-size: 1.75em;
  }

  .notice {
    margin: 0 3em 0 5em;
    font-size: 1.1em;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-height: 2em;
    margin-right: 4em;
    font-size: 1.25vw;
    color:orange;

    mat-form-field {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1vw;
      color: orange;
      width: 15em;
      margin-top: -2em;
    }
  }

  .mat-table {
    width: 90%;
    margin: 0 auto;
    overflow-y: auto;
    max-height: 22em;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    .mat-header-cell {
      font-size: 2vw;
      color: violet;
    }

    .mat-cell {
      font-size: 1.75vw;
      color: blue;
    }
  }
}

:host ::ng-deep mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: 1.75vw !important;
  margin-top: 0.5em;;
  width: 95.3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  .paginator {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}

:host ::ng-deep .mat-paginator-container {
  background-color: rgba(0,0,0,0);
  font-size: 1.25vw;
  color: blue;
  height: 3em;
  margin-top: 1em;

  .mat-paginator-range-actions {
    display: flex;
    align-items: center;
    margin-right: -1em;
  }
}

:host ::ng-deep .mat-select-value {
  font-size: 2vw;
  text-align: center;
  color: orange;
  background-color: white;
  border-radius: .5em;
  margin-top: .5em;

  .mat-select-arrow {
    color: blue
  }
}

