.page {
  color: blue;
  background-color: orange;
  height: calc(89vh);

  h2 {
    display: relative;
    margin-left: 1em;
    font-size: 2em;
  }

  .filter {
    display: flex;
    flex-direction: row;
    justify-content: right;
    max-height: 2em;
    margin-bottom: -2em;
    font-size: 1.25em;

    mat-form-field {
      font-size: 1em;
      color: blue;
    }
  }

  .mat-table {
    background-color: orange;

    .mat-header-cell {
      font-size: 1.3em;
      color: lime;
    }

    .mat-cell {
      font-size: 1.25em;
      color: blue;
      background-color: orange;
    }
  }
  .pagination {
    border: 1px solid blue;
  }
}



:host ::ng-deep .mat-paginator-container {
  background-color: orange;
  font-size: 2.25em;
  color: purple;
  position: absolute;
  bottom: 0;
}

:host ::ng-deep .mat-select-value {
  font-size: 2.25em;
  color: blue;
}
