.page {
  margin-top: 2.5em;
  width: 80vw;
  margin-left: 10vw;
  font-family: "Roboto", sans-serif;

  .mat-table {
    font-family: "Roboto", sans-serif;
    font-size: 1.5vw;

    .mat-row:nth-child(even) {
      background-color: #e4f0ec;
    }

    .mat-row:nth-child(odd) {
      background-color: #ffffff;
    }

    .mat-header-cell {
      font-size: 1.5vw;
    }
    mat-header-row,
    mat-row {
      display: flex;
      flex: 100px 1 1;
      width: 92vw;

      .mat-column-id {
        justify-content: center;
        flex: 0 0 5vw !important;
        margin-right: 0.5em;
      }

      .mat-column-name {
        justify-content: center;

        .action {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0 1em 0 auto;
        }
      }

      .mat-column-quantity {
        flex: 0 15vw !important;
        justify-content: center;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    font-size: 3vw;
    margin-top: 1em;

    input {
        margin-left: 2vw;
        font-size: 1.25vw;
        width: 5vw;
    }

    .new-item-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 87vw;
      margin-right: 0.5vw;
    }
  }
}

@media screen and (max-width: 700px) {
    .mat-table {
        .mat-header-cell {
            font-size: 4vw !important;
            &.mat-column-name  {
                width: 10vw !important;

                .action {
                    right: 30vw;
                }
            }

            .mat-column-name {
                margin-left: 1em !important;
            }

            .mar-column-quantity {

            }
        }

        
    }
  }
  
