<div class="page-container background-image">
  <mat-toolbar id="header-toolbar">
    <app-brand></app-brand>
    <app-social-icons style="margin-left: 2em;"></app-social-icons>
    <app-navigation style="position:absolute; right: 1em; top: 1em;"></app-navigation>
  </mat-toolbar>
  <div class="view-container">
    <router-outlet></router-outlet>
  </div>
  <mat-toolbar id="footer-toolbar">
    <app-footer></app-footer>
    <app-social-icons style="position: absolute; right: 2em;"></app-social-icons>
  </mat-toolbar>
</div>
