.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

}

.background{
  background-color: black;
}

.page
{
  border: 1px solid yellow;
  height: calc(89vh);
}