
<app-toolbar></app-toolbar>
<section id="contact" class="container content-section text-center">
  <!-- Resume Section -->
  <article id="resume" class="text-center">
      <ul class="list-inline banner-social-buttons">
          <li>
              <a href="resume/jeffreysanford.pdf" class="btn btn-default btn-lg"><span class="network-name">Simple Resume</span></a>
          </li>
          <li>
              <a href="resume/DetailedResume.pdf" class="btn btn-default btn-lg"><span class="network-name">Detailed Background</span></a>
          </li>
      </ul>
      <br /><br /><br />
  </article>
  <article>
      <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
              <h2>Contact Me</h2>
              <p><a href="mailto:jeffreysanford@gmail.com">jeffreysanford@gmail.com</a></p>
              <br /><br /><br /><br />
              <ul class="list-inline banner-social-buttons">
                  <li>
                      <a href="https://twitter.com/jeffrey_sanford" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                  </li>
                  <li>
                      <a href="https://github.com/jeffreysanford" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                  </li>
                  <li>
                      <a href="https://plus.google.com/116252561894619265339/posts/p/pub" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                  </li>
                  <li>
                      <a href="http://www.linkedin.com/pub/jeffrey-sanford/7/897/79/" class="btn btn-default btn-lg"><i class="fa fa-linkedin"></i> <span class="network-name">LinkedIn</span></a>
                  </li>
              </ul>
          </div>
      </div>
  </article>
</section>