<div class="page-container background-image">
  <mat-toolbar id="header-toolbar">
    <app-brand class="on-top"></app-brand>
    <app-social-icons style="margin-left: 2em;" class="on-top"></app-social-icons>
    <app-navigation class="on-top" style="position:absolute; right: 1em; top: 1em;"></app-navigation>
  </mat-toolbar>
  <div class="view-container">
    <router-outlet class="on-top"></router-outlet>
  </div>
  <mat-toolbar id="footer-toolbar">
    <app-footer class="on-top"></app-footer>
    <app-social-icons style="position: absolute; right: 2em;" class="on-top"></app-social-icons>
  </mat-toolbar>
</div>
