#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
}

#header-toolbar {
  position: fixed;
  background: rgba(255,255,255,0);
  color: white;

}


#footer-toolbar {
  position: fixed;
  bottom: 1em;
  left: .4em;
  background: rgba(255,255,255,0);
  z-index: 1;
  width: 98.8%;

}

#footer-toolbar:on-top {
  position: relative;
}

.fill-space {
  flex: 1 1 auto;
}

.background-image {
  color: black;
  background: url('../assets/images/intro-bg.jpg') no-repeat bottom center scroll;
  margin:0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  z-index: -1;
}

.page-container {
  top: 5em;
  height:99.75vh;
  z-index: 1;
  border: 1px solid black;
}

.view-container {
  font-size: 1.1em;
  height: 72vh;
  margin-top: 7em;
}
body {
  margin: 0;
}
