body {
  background-color: black !important;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

}

.page
{
  border: 1px solid orange;
  height: calc(89vh);
}