#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
}

#header-toolbar {
  position: fixed;
  background: rgba(255,255,255,0);
  color: white;

}
#header-toolbar:on-top {
  position: relative;
}

#footer-toolbar {
  position: fixed;
  bottom: 0;
  background: rgba(255,255,255,0);
  color: black;
}

#footer-toolbar:on-top {
  position: relative;
}

.fill-space {
  flex: 1 1 auto;
}

.background-image {
  color: black;
  background: url('../assets/images/intro-bg.jpg') no-repeat bottom center scroll;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  opacity: 1;
  z-index: -1;
}

.page-container {
  top: 5em;
  height: 42.5em;
  z-index: 1;
  border: 1px solid black;
}

.view-container {
  margin-top: 4em;
  opacity: .8;
  height: 87%;
  font-size: 1em;
}
