h2 {
  color: white;
}
.mat-button {
  background-color: pink;
  margin: 0 1em;
  border-radius: 3px;
  color: black;
}

p {
  font-size: 1.5em;
  color: white;
}

a {
  font-size: 1em;
  color: white;
  margin: 0 auto;
  text-decoration: none;
}

.banner-social-buttons {
  margin: 3em 2em;
}

ul {
  text-decoration: none;
}
.banner-social-buttons li {
  list-style: none;
  display: inline-block;
}

.contact-button {
  background-color: #B21A66;
  border-radius: 5px;
  color: white;
  margin:0 1em;
}

.contact-card {
  background-color: rgba(201, 76, 76, 0.3);
  height:80%;
  border-radius: 5px;
  margin: 2em;
  color: white;
  font-size: 1.5em;
}

.center {
  text-align: center;
  margin: 0 auto;
}
