<!-- Contact Section -->
<mat-card style="background-color:lime; opacity: .7;margin: 1em;height: 29em">
  <section id="contact" class="container content-section text-center">
      <!-- Resume Section -->
      <article id="resume" class="text-center">
        <button mat-button href="resume/jeffreysanford(front-end-developer).pdf"><span class="network-name">Simple Resume</span></button>
        <button mat-button href="resume/DetailedResume.pdf"><span>Detailed Background</span></button>
        <br /><br /><br />
      </article>

      <article>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Me</h2>

              <a href="mailto:jeffreysanford@gmail.com"><i class="zmdi zmdi-email"></i>jeffreysanford@gmail.com</a>
            <br /><br /><br /><br />
            <ul class="list-inline banner-social-buttons">
              <li>
                <a href="https://twitter.com/jeffrey_sanford" class="btn btn-default btn-lg"><i class="zmdi zmdi-twitter-box"></i> <span class="network-name">Twitter</span></a>
              </li>
              <li>
                <a href="https://github.com/jeffreysanford" class="btn btn-default btn-lg"><i class="zmdi zmdi-github"></i> <span class="network-name">Github</span></a>
              </li>
              <li>
                <a href="https://plus.google.com/116252561894619265339/posts/p/pub" class="btn btn-default btn-lg"><i class="zmdi zmdi-google"></i> <span class="network-name">Google+</span></a>
              </li>
              <li>
                <a href="http://www.linkedin.com/pub/jeffrey-sanford/7/897/79/" class="btn btn-default btn-lg"><i class="zmdi zmdi-linkedin"></i> <span class="network-name">LinkedIn</span></a>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </section>
</mat-card>
