<!-- Contact Section -->
<mat-card class="block" style="background-color: rgba(201, 76, 76, 0.3);height:80%;  border-radius: 5px;margin: 2em;color: white;font-size: 1.5em;">
  <section id="contact" class="container content-section text-center">
    <!-- Resume Section -->
    <article id="resume" class="" style="text-align: center;">
      <a style="background-color: rgba(255,255,255, 1);border-radius: 5px;color: #B21A66;margin:0 1em;" mat-button href="../../../assets/resume/jeffreysanford.pdf"><span class="network-name">Simple Resume</span></a>
      <a style="background-color: rgba(255,255,255, 1);border-radius: 5px;color: #B21A66;margin:0 1em;" mat-button href="http://www.linkedin.com/pub/jeffrey-sanford/7/897/79/"><span>Detailed Background</span></a>
      <br /><br /><br />
    </article>

    <article style="text-align: center;margin-top: 3em;">
      <div class="">
      <h2>Contact Me</h2>

      <button mat-button>
        <a href="mailto:jeffreysanford@gmail.com"><i class="zmdi zmdi-email"></i>&nbsp;jeffreysanford@gmail.com</a>
      </button>
      </div>
    </article>
  </section>
</mat-card>
