 P {
   font-size: 1.5em;
   color: white;
 }

 a {
  font-size: 1.5em;
  color: white;
  text-decoration: none;

 }

 .banner-social-buttons {
   margin: 3em 2em;

 }

 ul {
  text-decoration: none;
 }
.banner-social-buttons li {
  list-style: none;
  display: inline-block;
}


