<!-- Contact Section -->
<mat-card style="background-color:#58FF58;height:80%;  border-radius: 5px;margin: 2em;color: white;font-size: 1.5em;">
  <section id="contact" class="container content-section text-center">
    <!-- Resume Section -->
    <article id="resume" class="" style="text-align: center;">
      <button style="background-color: #B21A66;margin:0 1em;" mat-button href="assets/resume/jeffreysanford(front-end-developer).pdf"><span class="network-name">Simple Resume</span></button>
      <button style="background-color: #B21A66;margin:0 1em;" mat-button href="http://www.linkedin.com/pub/jeffrey-sanford/7/897/79/"><span>Detailed Background</span></button>
      <br /><br /><br />
    </article>

    <article style="text-align: center;">
      <div class="">
      <h2 style="color: #B21A66">Contact Me</h2>

      <button style="background-color: #B21A66;margin:0 1em;" mat-button>
        <a href="mailto:jeffreysanford@gmail.com"><i class="zmdi zmdi-email"></i>&nbsp;jeffreysanford@gmail.com</a>
      </button>

      <ul class="banner-social-buttons">
        <li>
          <button style="background-color: #B21A66;margin:0 1em;" mat-button>
            <a href="https://twitter.com/jeffrey_sanford" class="btn btn-default btn-lg"><i class="zmdi zmdi-twitter-box"></i> <span class="network-name">Twitter</span></a>
          </button>
        </li>
        <li>
          <button style="background-color: #B21A66;margin:0 1em;" mat-button>
            <a href="https://github.com/jeffreysanford" class="btn btn-default btn-lg"><i class="zmdi zmdi-github"></i> <span class="network-name">Github</span></a>
          </button>
        </li>
        <li>
          <button style="background-color: #B21A66;margin:0 1em;" mat-button>
            <a href="https://plus.google.com/116252561894619265339/posts/p/pub" class="btn btn-default btn-lg"><i class="zmdi zmdi-google"></i> <span class="network-name">Google+</span></a>
          </button>
        </li>
        <li>
          <button style="background-color: #B21A66;margin:0 1em;" mat-button>
            <a href="http://www.linkedin.com/pub/jeffrey-sanford/7/897/79/" class="btn btn-default btn-lg"><i class="zmdi zmdi-linkedin"></i> <span class="network-name">LinkedIn</span></a>
          </button>
        </li>
      </ul>
      </div>
    </article>
  </section>
</mat-card>
