<!-- Intro Header -->
<header class="intro" style="height:80%;margin: 2em;">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div>
          <p class="brand-heading">Jeffrey Sanford</p>
          <p class="intro-text">designer <i class="zmdi zmdi-star-outline"></i> developer <i class="zmdi zmdi-star-outline"></i> programmer</p>
          <a href="#about" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
        </div>
      </div>
    </div>
  </div>
</header>
