<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div style="margin-top: -10em;">
        <p class="block brand-heading">Jeffrey Sanford</p>
        <p class="block intro-text">designer <i class="zmdi zmdi-star-outline"></i> developer <i class="zmdi zmdi-star-outline"></i> programmer</p>
        <a href="#about" class="btn btn-circle page-scroll"><i class="fa fa-angle-double-down animated"></i></a>
      </div>
    </div>
  </div>
</header>
