.page {
 
  gridster {
    color: darkmagenta;
    background-color: #ecb602;
    height: calc(85vh);
  
    
  }
}

.love-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 4em;

  img {
    transform: scale(.5);
  }
}