<div class="jumbotron">
  <!--  twitterFetcher is a javascript only solution and is located at:
    http://jasonmayes.com/projects/twitterApi/#sthash.0GB2I8U2.dpbs
  -->
  <script type="text/javascript" src="js/vendor/twitterFetcher.js"></script>
  <img class="social-logo" src="images/twitter.png" alt="">
  <h3>{{heading}}</h3>
  <p>Page class is set to {{pageClass}}</p>
  <p>{{message}}</p>
  <p>Lots of information here.</p>
  <p><a class="btn btn-lg btn-primary" href="https://twitter.com/magiccoffeetrk" role="button"><i class="fa fa-twitter"></i>&nbsp;Magic Coffee Truck</i></a></p>
  <div>
    <h2>Query 1: #MagicToMe latest tweet</h2>
      <div id="twitterPoll">These are the latest tweets</div>
  </div>
  <script src="js/twitterFetchExample.js"></script>
</div>
