<section class="landing-page background">
    <p class="brand-heading">Jeffrey Sanford</p>
    <span class="intro-text">
        <div [@changeDivSize]>
            <p>design</p>
        </div>
        <mat-icon class="star">star_border</mat-icon>
        <div [@changeDivSize]>
            <p [@changeDivSize]>development</p>
        </div>
        <mat-icon class="star">star_border</mat-icon>
        <div [@changeDivSize]>
            <p [@changeDivSize]>architecture</p>
        </div>
    </span>
</section>
<button (click)="changeState()">Change Size</button>