<!-- About Section -->
<mat-card style="background-color: rgba(128, 255, 255, 0.3);height:80%;margin: 2em;border-radius: 5px;">
  <section id="about" class="container content-section text-justify">
      <div class="row">
        <div class="">
          <div class="">
            <p>I love programming; the logic structures, the code.  It has given me a lifelong creative outlet and assisted me in many facets with associated work.  My first computer was an Atari 400 with 16K of RAM and Atari BASIC that I taught myself with the help of the programming community.  I have used that knowledge my entire life.</p>
            <br />
            <p>After working on developing radar systems in the Army, then gaining expertise in technical, desktop and network support, I returned to my passion for programming.  Most recently, I have been designing websites in <a href="development/#/design/:html">HTML5</a> and <a href="development/#/development/:javascript">JavaScript</a> along with content management systems such as WordPress, Drupal and the brilliant framework <a href="development/#/development/:angular">AngularJS.</a></p>
            <br />
            <p>Passionate about working on complex platforms and multiple programming languages, I have gained experience in PHP and libraries, JavaScript (primarily JQuery and angularJS), Java, Visual Basic, as well as, various content management systems (WordPress, Drupal, PyroCMS), databases (mySQL, MSSQL and Access).  My design patterns focus first on the responsive-first design pattern using tools like <a href="development/#/design/:bootstrap">bootstrap</a>, mobile-friendly and dynamic web development models.  I thrive in positions that I can share my knowledge of programming and design techniques in a team environment.</p>
          </div> <!--aboutStyle -->
          </div> <!-- end col -->
      </div> <!-- end row -->
    </section>
</mat-card>
