<div class="social-buttons-container">
    <button mat-raised-button (click)=" routeExternal('twitter', $event)">
    <mat-icon><span class="iconify" data-icon="mdi:twitter"></span></mat-icon>
    Twitter
    </button>

    <button mat-raised-button (click)="routeExternal('github', $event)">
        <mat-icon><span class="iconify" data-icon="mdi:github"></span></mat-icon>
        Github
    </button>

    <button mat-raised-button (click)="routeExternal('google-plus', $event)">
        <mat-icon><span class="iconify" data-icon="mdi:google-plus"></span></mat-icon>
        Google Plus
    </button>

    <button mat-raised-button (click)="routeExternal('linkedin', $event)">
        <mat-icon><span class="iconify" data-icon="mdi:linkedin"></span></mat-icon>
        LinkedIn
    </button>
</div>