.page {
    margin: 1em 0 0 5em;
    background-color: black;
    margin: 3em 0 0 4em;
    width: 91.5vw;

    .player {
        margin-top: 1em;
        border: 1px solid red;
        width: 90%;
        margin: 1em auto;
    }
}