p {
  font-size: .7em;
  color: rgb(0, 255, 255);
  top: 0;
  background-color: rgba(0,0,0,0)
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40em;
  color:black;
  background-color: rgba(153, 194, 255, .6);
  text-align: center;
  padding: 5px 0;
  margin-top: 2em;
  bottom: 2em;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
