p {
  font-size: .7em;
  color: rgb(0, 102, 255);
}

.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 40em;
  color: rgb(0, 102, 255);
  background-color: rgb(153, 194, 255);
  text-align: center;
  padding: 5px 0;
  margin-left: 2em;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
