.social-buttons-container {
  position: fixed;
  display: flex;
  justify-content: left;
  width: 97%;
  height: 3em;
  padding: 2em 0 0.5em;
  background-color: purple;
  
  .social-block {
    margin-right: 1.5em;

    .twitter {
      margin-left: 1em;
    }
  }
}
