.social-buttons-container {
  position: fixed;
  display: flex;
  justify-content: left;
  width: 30em;
  height: 1.4em;
  padding: 0 0 0.5em;
  background-color: purple;
  
  .social-block {
    margin-right: 1.5em;
    font-size: 0.8em;
    color: yellow;
    
    .twitter {
      margin-left: 1em;
    }
  }
}
