<div class="social-buttons-container">
    <mat-label class="social-block" (click)="routeExternal('twitter', $event)" style="display: flex;flex-direction: row;">
        <mat-icon class="twitter">
            <span class="iconify" data-icon="mdi:twitter"></span>
        </mat-icon>
        <p style="margin-top: .25em;">Twitter</p>            
    </mat-label>

    <mat-label class="social-block" (click)="routeExternal('github', $event)" style="display: flex;flex-direction: row;">
        <mat-icon><span class="iconify" data-icon="mdi:github"></span></mat-icon>
        <p style="margin-top: .25em;">Github</p>            
    </mat-label>

    <mat-label class="social-block" (click)="routeExternal('google-plus', $event)" style="display: flex;flex-direction: row;">
        <mat-icon><span class="iconify" data-icon="mdi:google-plus"></span></mat-icon>
        <p style="margin-top: .25em;">Google+</p>            
    </mat-label>

    <mat-label class="social-block" (click)="routeExternal('linkedin', $event)" style="display: flex;flex-direction: row;">
        <mat-icon><span class="iconify" data-icon="mdi:linkedin"></span></mat-icon>
        <p style="margin-top: .25em;">LinkedIn</p>            
    </mat-label>
</div>

<section style="position: absolute; right: .5em;bottom: .5em; border: yellow;"(click)="displayDevelopmentPopup()">
    <mat-icon (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
        loyalty
    </mat-icon>
     <ng-template style="border: 1px solid blue;" cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
        <ul class="example-overlay">
           <li>Item 1</li>
           <li>Item 2</li>
           <li>Item 3</li>
        </ul>
     </ng-template>
</section>
