$dark-purple:#290849;
$light-purple:#55185D;
$light-orange: #FFD524;
$dark-orange: #ECB602;

.background {
    background-color: black;
    overflow: hidden;
}

@media screen and (max-width: 1025px) {
    :host ::ng-deep body {
      background-color: red !important;
  
      .page {
        border: 5px solid orange;
        height: calc(89vh);
      }
    }
  }
  
  /* Mobile device styles */
  @media screen and (max-width: 480px) {
    :host ::ng-deep body {
      height: calc(89vh);
      min-width: 100vw;
      background-color: purple !important;
    }
  }