$dark-purple: #290849;
$light-purple: #55185d;
$light-orange: #ffd524;
$dark-orange: #ecb602;

.background {
  background-color: black;
  overflow: hidden;
}
:host ::ng-deep body {
  width: calc(100vw);

  @media screen and (max-width: 1025px) {
    .page {
      border: 5px solid orange;
      height: calc(89vh);
    }
  }

  /* Mobile device styles */
  @media screen and (max-width: 480px) {
    height: calc(89vh);
  }
}
