// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-jeffrey-sanford-primary: mat.define-palette(mat.$indigo-palette);
$ng-jeffrey-sanford-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$ng-jeffrey-sanford-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-jeffrey-sanford-theme: mat.define-light-theme(
  (
    color: (
      primary: $ng-jeffrey-sanford-primary,
      accent: $ng-jeffrey-sanford-accent,
      warn: $ng-jeffrey-sanford-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-jeffrey-sanford-theme);

@import "@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat-core();

// import our custom theme                // ? changed
@import "./theme.scss";
@import "./colors.scss"; // ? changed
@import "~@angular/cdk/overlay-prebuilt.css";

$custom-typography: mat-typography-config(
  $font-family: "PT Sans Pro",
);

@font-face {
  font-family: "PT Sans Pro";
  src: url("assets/fonts/PTSans-Regular.ttf") format("ttf"),
    url("assets/fonts/PTSans-Regular.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}

@include angular-material-typography($custom-typography);

.mat-menu-panel {
  background-color: purple;
  color: orange;
  margin: -1.5em 0 0 3em;

  button.mat-menu-item {
    width: 100%;
    font-size: 1.5em;
  }
}

.overlay {
  cursor: pointer;
  background-color: orange;
  color: #55185d;
  padding: 0.25em;

  .overlay:before {
    content: "";
    position: absolute;
    top: 25%;
    left: 12px;
    border-top: 12px solid #999;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

@media (max-width: 900px) {
  .brand-heading {
    font-size: 3em;
    margin: 1em auto;
    color: orange;
  }

  .intro-text {
    display: flex;
    flex-direction: row;
    font-size: 1em;
    justify-content: center;
    color: orange;

    .star {
      padding: 0 0.25em;
      margin-top: -0.1em;
      color: purple;
    }
  }   
}