:host ::ng-deep app-footer {
  position: fixed;
  bottom: 0em;
}

:host ::ng-deep .mat-tab-body.mat-tab-body-active {
  height: 51vh;
}

:host ::ng-deep .mat-tab-body-content {
  display: flex;
  justify-content: left;
  width: 77%;
  height: 48vh;
  flex-wrap: wrap;
}

:host ::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 1.25em;
  color: forestgreen;
  font-weight: 500;
}
:host ::ng-deep .mat-tab-body-content, .description {
  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 255, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: darkblue;
    outline: 1px solid blue;
  }
}

.landing {
  background-color: white;
  height: calc(86vh);
  margin-top: 5em;

  .banner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 5em;

    h1 {
      font-size: 7vw;
      margin-top: 0.75em;
      margin-right: 4em;
      color: darkgreen;
      line-height: 0.8em;
      width: 6em;
    }

    .site-logo {
      margin-top: -2.5em;
      margin-left: 4.5em;
      height: 14vw;
      width: 12vw;
    }

    .grape-masthead {
      height: 40vw;
      width: 40vw;
      position: absolute;
      right: 0.25em;
      top: 2em;
      z-index: 10;
    }
  }

  .section-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    width: 95%;
    margin-left: 5em;
    overflow: auto;

    .mat-card {
      height: 20em;
      width: 14em;
      margin: 0.5em;
      justify-content: center;
      background: rgba(0, 100, 0, 0.7);
      z-index: 10;

      .mat-card-actions, .mat-card-subtitle, .mat-card-content {
        margin-top: 6em;
      }

      .recipe-icon {
        position: absolute;
        left: 0.5em;
        font-size: 3em;
      }

      .mat-card-title {
        color: blue;
        position: absolute;
        right: 0.25em;
        font-size: 2.5em;
        line-height: 0.75em;
        text-align: right;
        width: 5em;
      }

      .card-description {
        margin-top: 1em;
      }
      
      .description {
        margin-top: 5em;
        padding: 0.25em;
        font-size: 1.25em;
        overflow: auto;
        height: 8em;
        margin-top: 6em;
        z-index: 15;
      }
    }
  }
}
